---
title: Simple page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include 'partials/small_header.html' %}

	<section class="content">

		<div class="container">
			<div class="title-left">
				<h3>
					Название страницы
				</h3>
			</div>

			<div class="page__body">

				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, perferendis dicta commodi omnis veniam impedit at esse quae beatae libero minima porro sunt blanditiis, amet optio dolorem in laudantium. Excepturi!
			
			</div>
		</div>

	</section>

{% endblock %}
