<div class="header">
	<div class="header__callback">
		<div class="container">
			<div class="callback__social">
				<a href="#" class="whatsapp">
					<i class="fab fa-whatsapp"></i>
				</a>
				<a href="#" class="viber">
					<i class="fab fa-viber"></i>
				</a>
			</div>
			<div class="callback_phones">
				<p><a href="#"><i class="fas fa-phone-alt"></i>  +7 961-924-50-76</a></p>
			</div>
		</div>
	</div>
	<div class="header__top">
		<div class="container">
			<div class="header__logo">
				<a href="/">
					<img src="img/bed.svg" height="50px" alt="Logo">
					<span>
						Селена56
					</span>
				</a>
			</div>
			<div class="header__bars">
				<a href="#my-menu">
					<i class="fas fa-bars"></i>
				</a>
			</div>
			<nav id="my-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About us</a>
                        <ul>
                            <li><a href="/about/history/">History</a></li>
                            <li><a href="/about/team/">The team</a></li>
                            <li><a href="/about/address/">Our address</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>
		</div>
	</div>
	<div class="header__hero">
		<div class="container">
			<h1>Селена56 кровати и матрасы.</h1>
			<h2>Оптимальный вариант для тех, кто выбирает качество по оптимальной цене.</h2>
		</div>
	</div>
</div>
