<div class="header">
	<div class="header__callback">
		<div class="container">
			<div class="callback__social">
				<a href="#" class="whatsapp">
					<i class="fab fa-whatsapp"></i>
				</a>
				<a href="#" class="viber">
					<i class="fab fa-viber"></i>
				</a>
			</div>
			<div class="callback_phones">
				<p><a href="#"><i class="fas fa-phone-alt"></i>  +7 961-924-50-76</a></p>
			</div>
		</div>
	</div>
	<div class="header__top">
		<div class="container">
			<div class="header__logo">
				<a href="/">
					<img src="img/bed.svg" height="50px" alt="Logo">
					<span>
						Селена56
					</span>
				</a>
			</div>
			<div class="header__nav">
				<nav class="nav">
					<ul class="nav__list">
						<li><a href="#" class="nav__link">Главная</a></li>
						<li>
							<a href="#" class="nav__link">Матрасы</a>
							<ul class="sub-nav__list">
								<li>
									<a href="#" class="sub-nav__link">
										Скрученые матрасы
									</a>
								</li>
								<li>
									<a href="#" class="sub-nav__link">
										Матрасы для детей
									</a>
								</li>
								<li>
									<a href="#" class="sub-nav__link">
										Пружинные матрасы
									</a>
								</li>
							</ul>
						</li>
						<li><a href="#" class="nav__link">Кровати</a></li>
						<li><a href="#" class="nav__link">Подушки</a></li>
						<li><a href="#" class="nav__link">Одеяла</a></li>
						<li><a href="#" class="nav__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="header__bars">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
	<div class="header__hero">
		<div class="container">
			<h1>Селена56 кровати и матрасы.</h1>
			<h2>Оптимальный вариант для тех, кто выбирает качество по оптимальной цене.</h2>
		</div>
	</div>
</div>
