

<div class="product">
	<div class="product__photo">
		<a href="/productpage.html">
			<img src="http://dummyimage.com/300x200/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
		</a>
	</div>
	<div class="product__name">Матрас Rich Cocos (Рич Кокос)</div>
	<div class="product__price">
		<a href="/productpage.html">18000</a>
	</div>
	<!-- <div class="product__description">
		Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
	</div> -->
	<div class="product__more">
		<a href="/productpage.html">
			Подробнее...
		</a>
	</div>
</div>

