<div class="header">
	<div class="header__callback">
		<div class="container">
			<div class="callback__social">
				<a href="#" class="whatsapp">
					<i class="fab fa-whatsapp"></i>
				</a>
				<a href="#" class="viber">
					<i class="fab fa-viber"></i>
				</a>
			</div>
			<div class="callback_phones">
				<p><a href="#"><i class="fas fa-phone-alt"></i>  +7 961-924-50-76</a></p>
			</div>
		</div>
	</div>
	<div class="header__top">
		<div class="container">
			<div class="header__logo">
				<a href="/">
					<img src="img/bed.svg" height="50px" alt="Logo">
					<span>
						Селена56
					</span>
				</a>
			</div>
			<div class="header__nav">
				<nav>
					<a href="/simplepage.html">Главная</a>
					<a href="/simplepage.html">Кровати</a>
					<a href="/simplepage.html">Матрасы</a>
					<a href="/simplepage.html">О нас</a>
					<a href="/simplepage.html">Контакты</a>
				</nav>
			</div>
		</div>
	</div>
</div>