<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Селена - Кровати и Матрасы</title>
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" media="all" href="css/app.css"/>
    <script src="https://kit.fontawesome.com/8551178583.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- BEGIN content -->
    {% block content %}{% endblock %}
    <!-- END content -->

    <footer>
      <div class="container">
        <div class="footer__nav">
          <nav>
            <a href="/simplepage.html">Главная</a>
            <a href="/simplepage.html">Кровати</a>
            <a href="/simplepage.html">Матрасы</a>
            <a href="/simplepage.html">О нас</a>
            <a href="/simplepage.html">Контакты</a>
          </nav>
        </div>
        <div class="footer__copyright">
          CHE-Studio - Оренбург
        </div>
      </div>
    </footer>
    
    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->
  </body>
</html>