footer
	background-color: $dark
	padding: $ss 0
	.container
		display: flex 
		justify-content: space-between
		font-size: $ss*0.7
		.footer__nav
			nav
				a
					color: $light
					text-decoration: none
					margin-right: $ss*0.5
		.footer__copyright
			color: rgba($light, 0.5)
		@media(max-width: 640px)
			flex-direction: column
			.footer__copyright
				margin-top: $ss