.header
	&__callback
		+sh
		background-color: $gold
		.container
			display: flex
			justify-content: space-between
			align-items: center
			div
				padding: $ss 0
				font-size: $ss
				color: $light
				a
					color: $light
					text-decoration: none
			.callback__social
				display: flex
				a
					margin-right: $ss
					font-size: $ss
	&__top
		margin-top: $ss
		.container
			display: flex
			justify-content: space-between
			align-items: center




			.header__bars
				display: block
				color: $gold
				font-size: $ss*1.5
				cursor: pointer
				a 
					color: $gold


			.header__logo
				a
					display: flex
					align-items: center
					color: $gold
					text-decoration: none
					text-transform: uppercase
					span
						margin-left: $ss*0.5
						font-weight: 900


	&__hero
		min-height: 50vh
		position: relative
		display: flex
		align-items: center
		+image('../img/hero_bg.jpeg')
		+cover

		.container
			z-index: 10 !important
			color: rgba($dark, 0.9)
			h1, h2
				font-weight: 500
				padding: 0
				margin: 0
				width: 50%
				background-color: rgba($dark, 0.5)
				color: $light

			h1
				font-weight: 700
				padding-top: $ss
				padding-left: $ss
			h2
				font-size: 14px
				padding: $ss 0
				padding-left: $ss
			@media(max-width: 640px)
				h1, h2
					width: 100%
				h1
					font-size: $ss
				h2
					font-size: $ss*0.9
					padding-bottom: $ss
