.mobile-menu
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	min-height: 100vh
	position: fixed
	z-index: 9999
	left: 100%
	top: 0
	background-color: $gold
	transition: 0.25s
	text-transform: uppercase
	overflow-y: scroll
	nav
		ul
			li
				margin-bottom: 1em
				span
					display: block
					margin-bottom: 1em
				span, a
					color: $light
					text-decoration: none
		li
			ul
				margin-left: 2em
				margin-bottom: 2em
	&__close
		position: absolute
		right: 30px
		top: 30px
		color: $light
		font-size: 2em
		cursor: pointer
